@import "tailwindcss";

@theme {
  --color-nautico-red: #AA0202;
  --color-nautico-white: #FFFFFF;
  --color-nautico-gray: #777777;
  --color-nautico-light: #F5F5F5;
  --color-nautico-dark: #1A1A1A;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
}

:root {
  --background: #ffffff;
  --foreground: #505050;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444444;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

  @apply font-sans antialiased;
}
